.ws-response-item {
  width: 100%;
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #111;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
}

.ws-response-item:hover {
  box-shadow: #0ff;
}

.ws-response-item-img {
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  font-family: monospace;
  color: #fff8;
  animation: lazyload 3s linear
}

@keyframes lazyload {
  from {
    filter: blur(20px)
  }

  to {
    filter: none
  }
}

.ws-response-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  font-size: 20px;
  gap: 10px
}

.ws-response-item-info-button {
  background: 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  transition: all 300ms;
}

.ws-response-item-info-button a {
  transition: all 300ms;
  color: #fff;
}

.ws-response-item-info-button:hover a {
  color: #0ff;
}