.ws-form {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.ws-form-input {
  padding: 10px 50px 10px 20px;
  width: 100%;
  border-radius: 1000px;
  outline: 0;
  border: 0;
  background: linear-gradient(to right, #31c, #0cc);
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  transition: all 300ms;
}

.ws-form-input::placeholder {
  color: #ffffff86;
}

.ws-form-input:focus {
  box-shadow: 0 10px 40px -10px #07c;
}

.ws-form-button {
  position: absolute;
  top: 3%;
  right: 2%;
  transform: rotate(-40deg);
  width: 40px;
  height: 40px;
  font-size: 2em;
  background: 0;
  border: 0;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
}