.ws-footer {
  display: block;
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  font-size: 15px;
  color: #aaa;
  border-radius: 1000px;
  border-top: 1px solid rgb(109, 95, 226);
}

.ws-footer-link {
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
}

.ws-footer-link:hover {
  color: #0ff;
}
